*{
  background-color: #0b89e3;
}


.nav-logo{
    height: 60px;
    width: 100%;
}
.logo{
    background-image: url(logo2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50rem;
    height: 5rem;
}
h2{
    text-align: center;
    font-weight: lighter;
    font-family:'Segoe print';
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
pre{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px ;
}

.card-container {
    display: flex;
    justify-content: space-around; /* Distribute cards evenly */
  }
  
  .card {
    width: 200px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    background-color: #0b89e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .card:hover {
    transform: scale(1.1); /* Scale up on hover */
  }

  .map{
    text-align: center;
    font-size: 50px;
    color: red;
  }

  .address{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }

  .f{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 25px;
  } 

  .f i{
    color: red;
  }


  .home a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.home{
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}